<div class="row">
  <div class="col-sm-2">
    <ml-facets facets="consumerCtrl.results.facets" toggle="consumerCtrl.toggleFacet(facet, value)"></ml-facets>
  </div>

  <div class="col-sm-10">
    <div ng-show="consumerCtrl.isSearching">Searching...</div>
    <div ng-if="consumerCtrl.results && consumerCtrl.results.total > 0"  class="product-results">
      <div class="search-options">
        <div class="search-tags">
          <div class="search-tag search-tag-removable" ng-repeat="tag in consumerCtrl.searchService.searchTags" title="remove tag" ng-click="consumerCtrl.removeSearchTag($index)"><span class="fa fa-minus-circle"></span><strong>{{ tag.name }}</strong>: {{ tag.value }}</div>
        </div>
        <div class="result-count">Your search <span ng-if="consumerCtrl.qtext"> for <span class="search-text" ng-click="consumerCtrl.searchService.searchText('')"><span class="fa fa-minus-circle"></span> {{ consumerCtrl.qtext }}</span></span> returned {{ consumerCtrl.results.total }} results</div>
      </div>
      <ml-results results="consumerCtrl.results" template="/consumer/consumer_search_results.html"></ml-results>
      <pagination ng-model="consumerCtrl.page" ng-change="consumerCtrl.search()" max-size="10" boundary-links="true"
                      total-items="consumerCtrl.results.total" items-per-page="consumerCtrl.results['page-length']"></pagination>
    </div>
    <div ng-if="consumerCtrl.noResults">
      <div class="noresults">No results</div>
    </div>
  </div>
</div>
