<nav class="navbar navbar-secondary navbar-static-top">
  <ul class="nav navbar-nav navbar-pills">

  </ul>
  <form class="navbar-form pull-right col-sm-2" name="searchForm" novalidate>
    <div class="input-group">
      <input type="text" name="qtext" placeholder="Search"
             typeahead="product for product in products | filter:$viewValue | limitTo:8"
             class="form-control" ng-model="searchText" required>
      <div class="input-group-btn">
        <button class="btn btn-default" ng-click="doSearch()"><span class="fa fa-search"></span></button>
      </div>
    </div>
  </form>
</nav>
