<div class="row">
  <div class="col-sm-2">
    <ml-facets facets="consumerCtrl.results.facets" toggle="consumerCtrl.toggleFacet(facet, value)"></ml-facets>
  </div>

  <div class="col-sm-10">
    <div ng-show="consumerCtrl.isSearching">Searching...</div>
    <div ng-if="consumerCtrl.results && consumerCtrl.results.total > 0">
      <ml-metrics search="consumerCtrl.results"></ml-metrics>
      <ml-results results="consumerCtrl.results" template="/consumer/consumer_search_results.html"></ml-results>
      <pagination ng-model="consumerCtrl.page" ng-change="consumerCtrl.search()" max-size="10" boundary-links="true"
                      total-items="consumerCtrl.results.total" items-per-page="consumerCtrl.results['page-length']"></pagination>
    </div>
    <div ng-if="consumerCtrl.noResults">
      <div class="noresults">No results</div>
    </div>
  </div>
</div>
