<div class="product-details">

  <div class="row">
    <div class="col-sm-3">
      <div class="product-image" ng-style="productDetails.imageStyle"></div>
    </div>
    <div class="col-sm-9">
      <div class="product-title"><h3>{{ productDetails.data.name }}</h3></div>
      <div class="product-price">{{ productDetails.data.price }}</div>
      <div class="product-summary">{{ productDetails.data.summary }}</div>
      <div class="product-extras">
        <div class="ui-tabs">
          <div class="tab-tabs">
            <a class="tab" ng-click="productDetails.showTab('description')" ng-class="{active: productDetails.currentTab === 'description'}">Description</a>
            <a class="tab" ng-click="productDetails.showTab('features')" ng-class="{active: productDetails.currentTab === 'features'}">Features</a>
            <a class="tab" ng-click="productDetails.showTab('reviews')" ng-class="{active: productDetails.currentTab === 'reviews'}">Reviews ({{ productDetails.data.reviews.length }})</a>
          </div>
          <div ng-switch="productDetails.currentTab">
            <div class="tab-content" ng-switch-when="description"><p>{{ productDetails.data.description }}</p></div>
            <div class="tab-content" ng-switch-when="features">
              <ul class="product-features">
               <li ng-repeat="feature in productDetails.data.features" ng-init="isSelected = productDetails.isFeatureSearch(feature)" class="product-feature" ng-class="{ selected: isSelected }"><strong>{{ feature.name }}</strong> <a ng-if="!isSelected" class="search-tag" ng-click="productDetails.clickTag(feature)">{{ feature.value }}</a> <span class="search-tag-selected" ng-if="isSelected"> {{ feature.value }}</span></li>
              </ul>
            </div>
            <div class="tab-content" ng-switch-when="reviews">
              <div class="product-reviews-pagination">
                <span class="count">Showing {{ productDetails.reviews.start }} to {{ productDetails.reviews.end }} of {{ productDetails.reviews.max }} reviews</span>
                <a class="prev" ng-click="productDetails.advanceReviews(-productDetails.reviews.bucket)">&laquo; prev</a>
                <a class="next" ng-click="productDetails.advanceReviews(productDetails.reviews.bucket)">next &raquo;</a>
              </div>
              <div class="product-reviews">
                <div class="product-reviews-map">
                  <google-map markers="productDetails.reviews.markers" options="productDetails.mapOptions" class="map" fit="true"></google-map>
                </div>
                <div ng-repeat="review in productDetails.reviews.shown" class="product-review">
                  <div class="review-heading">
                    <rating ng-model="review.rating" readonly="true" max="5"></rating>
                    <div class="reviewer"><strong>{{ review.reviewer }}</strong></div>
                  </div>
                  <div class="comment">{{ review.comment }}</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
