@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/roboto-fontface/roboto-fontface.less";
@icon-font-path:  "/fonts/";
@FontAwesomePath:    "/fonts/";
@roboto-font-path: '/fonts/';

html { height: 100%; }
body { background: #CCC; font-family: 'Roboto', 'Comic Sans', serif; height: 100%; }


.navbar {
  background-color: #3A3A3A;
  font-size: 16px;
  min-height: 0;
  height: 36px;
  margin-bottom: 0;
  border-bottom: 0;

  .navbar-brand:hover, .navbar-brand:focus, .navbar-brand, .navbar-nav li a, .navbar-nav li a:hover, .navbar-nav li a:focus { color: #FFF; }

  .navbar-brand {
    font-size: 25px;
    padding: 13px;
    height: auto;
    line-height: normal;
    color: #EEE;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 30px;
    width: 140px;
    height: 90px;
    background: #ea1213;
    text-align: center;
    box-shadow: 2px -1px 2px #333;

    &:hover, &:focus, &:active { background: #ff1f1f; }

    .glyphicon-fire { color: orange;}
  }

  & .text {
    font-size: 12px;
    display: block;
    padding-top: 4px;
  }

  .navbar-nav li a {
    padding: 9px 12px;
    height: auto;
    line-height: normal;
    cursor: pointer;
  }

  .navbar-toggle {
    border: none;
    color: #FFF;
    margin: 6px 0 0;
    padding: 0;

    &:hover, &:focus { background: transparent; }
  }
}

.navbar-secondary {
  background: #252525;
  box-shadow: -5px 0 2px;
  z-index: 1;
  height: auto;
  clear: both;
  top: -1px;
  margin-bottom: 25px;

  .navbar-nav {
    margin-left: 200px;

    li a {
      padding: 14px;

      &:hover, &:focus { background: #151515; border: none }
    }
  }

  .navbar-form {

    input[name="qtext"] {
      border: solid #666 1px;
      background: #323232;
      color: #FFF;
      font-size: 12px;
      padding: 4px;
      width: 275px;
      border-radius: 10px 0 0 10px;
    }
  }
}

#splashSourcesChart, .login-block { margin-top: 40px }

#mainview {
  padding-bottom: 80px;
}

aside#sidenav {
  min-height: 100%;
  background: #CCC;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 15px;
  background: #FFF;
  border-top: solid 1px #DDD;

  .powered {
    background-image: url(/images/PoweredByMarkLogic.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 146px;
    margin: 10px 0 0;
    background-size: contain;
    float: right;
  }
}

.jumbotron {
  padding-top: 16px;
  border-radius: 4px;

  p { font-size: 16px; }
}

.detail {
  .desc textarea {
    width: 100%;
  }
}

.map-detail {
  height: 300px;
}

.welcome {
  margin-top: 14px;
}

.facet-list .facet a {
  cursor: pointer;
}

.results {
  ul.pagination {
    margin: 0;
  }

  .search-metrics {
    line-height: 28px;
    margin-left: 10px;
    vertical-align: top;
  }

  .highlight {
    background-color: #FFFFCC;
  }
}

form[name=profileForm] {
  .valid-email {
    min-height: 20px;
  }
}

.create .tag {
  margin-top: 10px;
  margin-right: 5px;
}
